/* OFFICIAL SPOTIFY STYLE GUIDE: https://developer.spotify.com/documentation/general/design-and-branding/#using-our-logo */

:root {
	--spotify-green: #1db954;
	--spotify-white: #ffffff;
	--spotify-black: #191414;
}

#dashboard-container {
	background-color: salmon;
	height: 100vh;
}
#dashboard-header {
	background-color: salmon;
}
#dashboard-logo {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	animation: spin 4s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
#dashboard-logo:hover {
	background-color: var(--spotify-green);
}
#dashboard-form {
	background-color: var(--spotify-white);
}
#dashboard-results {
	background-color: salmon;
	overflow-y: auto;
}
#track-search-result:hover {
	background-color: var(--spotify-green);
}
#dashboard-lyrics {
	white-space: pre;
}
/* #dashboard-info {
	border: 3px solid var(--spotify-black);
} */
#dashboard-player {
	border: 3px solid var(--spotify-black);
}
